/* MEYER RESET
http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
nav,
table, caption, tbody, tfoot, thead, tr, th, td,
input, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #222;
    color: inherit;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-family: Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}
h1, h2, h3, h4, h5, h6 {
    /*font-family: Georgia, Times, "Times New Roman", serif;*/
}

/**************************
**                       **
**     project styles    **
**                       **
**************************/

body {
    color: #222;
    overflow-y: scroll;
    background-color: #eee;
    background-image: url('background.jpg');
    background-repeat: repeat;
    background-position: top center;
    font-size: 0.8em;
}
a {
    text-decoration: none;
    color: #34f;
}
a.active, a.active:hover,
a:hover {
    color: #800;
    text-decoration: underline;
}
a.active.imagelink, a.active.imagelink:hover,
a.imagelink:hover {
    text-decoration: none;
}
#footer,
/* topnav */
.text_content_wrapper, #topnav {
    background-color: #ddd;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
#topnav li a {
    color: #555;
}
#topnav li {
}
#topnav .current_nav_page a, /* class for debugging, but useful in production */
#topnav a.active, #topnav a.active:hover,
#topnav a:hover {
    color: #000;
    background-color: #eee;
}

/* typical inset rounding and shadowing */
#topnav,
#footer,
.text_content_wrapper {
    -webkit-box-shadow: inset 0px 0px 10px #888;
    -moz-box-shadow: inset 0px 0px 10px #888;
    box-shadow: inset 0px 0px 10px #888;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    filter:alpha(opacity=90); 
    -moz-opacity: 0.9; 
    opacity: 0.9; 
}

/* elements on the page that need rounding/shadowing */
/* these don't
#clan_trophies,
#clan_header > div */
{
    
    -webkit-box-shadow: 0px 0px 10px #888;
    -moz-box-shadow: 0px 0px 10px #888;
    box-shadow: 0px 0px 10px #888;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    filter:alpha(opacity=90); 
    -moz-opacity: 0.9; 
    opacity: 0.9; 
}
/* small 'tab-style' rounding/shadowing, eg topnav */
#topnav .current_nav_page a,
#topnav a.active, #topnav a.active:hover,
#topnav a:hover {
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-box-shadow: 0px 0px 10px #aaa;
    -moz-box-shadow: 0px 0px 10px #aaa;
    box-shadow: 0px 0px 10px #aaa;
}

/* slightly larger and darker rounding/shadowing, eg error messages...? */
#errors,
#messages {
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 5px 20px #555;
    -moz-box-shadow: 0px 5px 20px #555;
    box-shadow: 0px 5px 20px #555;
}
/* massive bigred rounding */
input[type=submit].bigred,
form#login_form > fieldset > input[type=submit],
.signup_text a {
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    -webkit-box-shadow: 0px 5px 20px #555;
    -moz-box-shadow: 0px 5px 20px #555;
    box-shadow: 0px 5px 20px #555;
}

/* misc */
#container {
    width: 750px;
    margin: 0 auto;
}
::-moz-selection{ background: #aaa; color:#fff; text-shadow: none; }
::-webkit-selection{ background: #aaa; color:#fff; text-shadow: none; }
::selection { background:#aaa; color:#fff; text-shadow: none; }



/**************************
**                       **
**       Navigation      **
**                       **
**************************/

/*
 * Using #topnav not .navigation because of possible 2ndary navigation at a later date, and don't want topnav styles to apply there as well
 * */
#topnav {
    width: 100%;
    margin: 0 auto;
    padding: 0;
    height: 50px;
    margin-top: 10px;
}
#topnav, #topnav ul {
    /* because of ie's amazing expanding box trick */
    overflow: hidden;
}
#topnav h1 {
    display: none;
}
#topnav ul {
    width: 101.5%;
}
#topnav li {
    float: left;
    width: 16%;
    margin-left: 4.3%;
    margin-right: 4.3%;
    line-height: 50px;
    text-align: center;
}
#topnav li a {
    display: block;
    text-decoration: none;
}
#topnav .current_nav_page a,
#topnav a.active, #topnav a.active:hover,
#topnav a:hover {
    margin-top: 5px;
    line-height: 45px;
}

/**************************
**                       **
**      title styles     **
**                       **
**************************/

.hcenter {
    clear: both;
    text-align: center;
    /* space between nav and title */
    margin-top: 2.5em;
}

/**************************
**                       **
**     signup styles     **
**                       **
**************************/

/* space between title and rest of content */
/*  locate space here to avoid future margin collapse */
.content_bulk {
    margin-top: 1em;
}

.signup_text {
    text-align: center;
    width: 170px;
    margin: 0 auto;
}
.signup_text p {
    height: 60px;
    line-height: 60px;
}
.signup_text a {
    font-size: 1.4em;
    display: block;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #a00;
}
.signup_text a:hover,
.signup_text a.active,
.signup_text a.active:hover {
    color: #fff;
    background-color: #c22;
}

/**
 Messages and errors
 (those that come, e.g. when you fail to log in
 */

#errors
{
    margin: 5px;
    padding: 5px;
    background-color: #f55;
}
#messages
{
    margin: 5px;
    padding: 5px;
    background-color: #5ff;
}

/**************************
**                       **
**    body text styles   **
**                       **
**************************/

.text_content_wrapper {
    /* space between the main content and the element before - eg signup button */
    margin-top: 3.0em;
    padding-top: 1px;
}
.text_content {
    margin: 0 30px;
    margin-top: 35px;
    line-height: 1.5em;
}
.text_content p {
    margin-bottom: 10px;
}
.text_content h1 {
    font-size: 200%;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.text_content h2 {
    font-size: 150%;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.text_content.non_top_post {
    margin-top: 0;
}
.text_content.non_top_post:before {
    content: url(divider.png);
    width: 114px;
    display: block;
    margin: 0 auto;
}

/* TABLES */
/* Now this one is for score listing */
.scorelisting
{
    text-align: center;
}


#accountlist,
.scorelisting table
{
    font-size: 85%;
    border-width: 2px;
    border-style: solid;
    border-color: gray;
    border-collapse: collapse;
    /* Hard limit on width */
    width: 600px;
    text-align: left;
    vertical-align: middle;
    border: 1px solid #DDD;
}
#accountlist th,
.scorelisting th
{
    text-align: left;
    padding-right: 20px;
    padding-left: 3px;
}
#cell1 td,
#cell2 td
{
    border: 1px solid black;
    padding-right: 10px;
    padding-left: 3px;
    vertical-align: middle;
}
#cell1 td
{
    background-color: #ccc;
}
#cell2 td
{
    background-color: #bbb;
}

#cell1 td.table_number,
#cell2 td.table_number
{
    text-align: right;
    padding-right: 3px;
    padding-left: 3px;
}
#cell1 td.table_date,
#cell2 td.table_date
{
    text-align: center;
    padding-right: 3px;
    padding-left: 3px;
}

#accountlist,
#accountlist tr,
#accountlist td
{
    width: inherit;
}
#accountlist tr.norow,
#accountlist tr.norow td,
#accountlist td.noborder
{
    border-width: 0px;
    background-color: inherit;
    vertical-align: middle;
}
#accountlist input[type="text"]
{
    width: 6em;
    margin: 3px 3px 3px 3px;
    padding: 0;
}
#accountlist select
{
    font-size: 100%;
}



/**************************
**                       **
**      form styles      **
**                       **
**************************/
/* add form#login_form (>) in front of each line and you're set */
fieldset {
    width: 400px;
    margin: 0 auto;
    /* to avoid margin collaspe with submit button below */
    padding-bottom: 1px;
}
/* not needed
fieldset > div {
    overflow: hidden;
}
*/
.form_msg,
input,
label {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
}
label {
    width: 120px;
    clear: both;
    text-align: right;
}
input {
    padding: 1px;
    width: 120px;
    background-color: #fff;
    border: 1px inset #eee;
}
.form_msg {
    width: 120px;
    color: red;
    font-size: 85%;
}
input[type=submit] {
    padding: 5px 10px;
    height: auto;
    line-height: auto;
    width: auto;
    background-color: #bbb;
    border: 1px outset #eee;
}
/* use this class on a submit button if you would like it to be big and red. */
input[type=submit].bigred,
form#login_form > fieldset > input[type=submit] {
    padding: 0;
    height: 50px;
    width: 120px;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    background-color: #a00;
}
input[type=submit].bigred:hover,
input[type=submit].bigred.active:hover,
input[type=submit].bigred.active:hover,
form#login_form > fieldset > input[type=submit]:hover,
form#login_form > fieldset > input[type=submit].active,
form#login_form > fieldset > input[type=submit].active:hover {
    cursor: pointer;
    color: #fff;
    background-color: #c22;
}

input[type="submit"].small_button {
    height: auto;
    width: auto;
    margin: 2px;
    padding-top: 0px;
    padding-bottom: 0px;
}

/**************************
**                       **
**     footer styles     **
**                       **
**************************/

#footer {
    height: 50px;
    line-height: 50px;
    text-align: center;
    margin: 20px 0;
}


/**************************
**                       **
**      tabular data     **
**    (currently only    **
**      table#clans      **
**   and table#servers)  **
**                       **
**************************/
.prettytable,
/* /clan/*name */
#clan_page table,
/* /clans */
#clans,
/* /servers */
#servers {
    width:100%;
    font-size: .9em;
}
table.prettytable th,
/* specificity override for padding */
#clan_page table tr/*<--extraspecific*/ th,
table#clans th,
table#servers th {
    text-align: left;
    border-bottom: 4px double #aaa;
    padding: 8px;
}
.prettytable th,
.prettytable td,
#clan_page table th,
#clan_page table td,
#clans th,
#clans td,
#servers th,
#servers td {
    padding: 5px 8px;
}
.prettytable tr,
#clan_page table tr,
#clans tr,
#servers tr {
    border-bottom: 1px solid #ccc;
}

/**************************
**                       **
**   clan page display   **
**                       **
**************************/

#clan_header > div,
#clan_header > h1 {
    margin-bottom: 0;
    height: 60px;
    line-height: 60px;
}

#clan_header > h1 {
    width: auto;
    text-align: center;
    float: left;
}
#clan_header > h1 > span {
    width: 100%;
    display: block;
}
/* small icons */
#clan_header > div {
    float: right;
    width: 16%;
    text-align: center;
    border-left: 1px solid #ccc;
}
#clan_header > div a {
    display: block;
}
#clan_header > div a:hover {
    background-color: #dadada;
    text-decoration: none;
}
#clan_members,
#clan_trophies {
    clear: both;
    border-top: 1px solid #ccc;
}
/* internal wrapper */
#clan_members > div,
#clan_trophies > div {
    margin: 15px;
}
#clan_trophies .trophyicon {
    margin-left: 5px;
    margin-top: 5px;
    background: #eee;
    display: inline-block;
    width: 50px;
    height: 50px;
}

/**************************
**                       **
** Display trophy images **
** (everywhere, not just **
**    on trophy page)    **
**                       **
**************************/

/* 
structure for a trophy cabinet:

.trophy_cabinet
    h3
    ul
        li
            .trophyplaque
            img, .imagelink
*/
.trophycabinet {
    padding-top: 1px;/* for margin collapse */
    margin-bottom: 30px;
}

ul.trophypage > li > img,
.trophycabinet img {
    height: 35px;
    width: 35px;
}
/* vertically align text and images */
.trophycabinet .trophyleft {
    vertical-align: middle;
}
.trophycabinet .trophyright {
    width: 90%;
}
/* exception for /user/name..bleh */
/* text cabinet, as in the text is the fixed info and the images are expandable */
.text_cabinet.trophycabinet .trophyleft {
    width: 20%;
}
.text_cabinet.trophycabinet .trophyright {
    /* quick fix to allow for strange things happening with the a */
    margin-bottom: 5px;
    width: 75%;
}
.trophycabinet .trophyleft,
.trophycabinet .trophyright {
    display: inline-block;
    vertical-align: middle;
}
/* finer-grained display styles */
.trophycabinet .trophyright, .trophycabinet .trophyleft {
    margin: 10px 0px 10px 10px;
}
.trophycabinet h3 {
    line-height: 2.5em;
}
.trophycabinet h3 {
    border-bottom: 3px double #bbb;
}
.trophycabinet > ul li {
    border-bottom: 1px solid #ccc;
}

/**************************
**                       **
**      trophy page      **
** (partially obsolete   **
**     - please use      **
** .trophy_cabinet where **
**        possible)      **
**                       **
**************************/

/* give dots to trophy lists */
ul.trophypage {
    list-style: disc;
}
ul.trophypage > li {
    margin-top: 5px;
}
/* vertically align text and images */
li.multiline > img {
    vertical-align: middle;
}
li.multiline > span {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

/**************************
**                       **
**     helper styles     **
**                       **
**************************/

.clear {
    display: block;
    clear: both;
}
#end_of_content_spacer {
    height: 30px;
}
#small_content_spacer {
    height: 15px;
}
#tiny_content_spacer {
    height: 5px;
}
.center {
    text-align: center;
}
