# Ignore rendering pov images under povray/
povray_images/*.pov-state
junethack.db
test_xlog.txt
test_xlog2.txt
# cheryl - ignore temporary files
webmocks/alt_design2/*.swp
webmocks/alt_design2/*.tmp
*.swp
models/*.swp
# rawrmage - ignore server output and stuff
*.db
*.bak
nohup.out
xlogfile
logs
trace
# ignore tmp directories
public/tmp
temp
coverage
tmp
