# Ignore rendering pov images under povray/
povray_images/*.pov-state
junethack.db
test_xlog.txt
test_xlog2.txt
# Ignore Gemfile.lock
Gemfile.lock
# cheryl - ignore temporary files
webmocks/alt_design2/*.swp
*.swp
models/*.swp
# rawrmage - ignore server output and stuff
junethack2.db
nohup.out
xlogfile
