.scorelisting
  %table.greytable.misc
    %tr
      %th 
        Clan
      %th 
        Score
      %th 
        Rank
    - count = 0
    - ClanScoreEntry.all(:order => [:rank.asc], :trophy => 'clan_winner').each do |entry|
      - style = (count % 2) == 0 ? "cell1" : "cell2"
      - count += 1
      %tr{:id => style}
        %td
          %a{:href => "/clan/#{CGI::escape entry.clan.name}"}
            #{h entry.clan.name}
        %td.table_number
          #{h entry.points}
        %td.table_number
          #{h entry.rank}
