.scorelisting
  %table.greytable
    %tr
      %th= "Trophies"
    - @scoreentries.select {|s| s.variant == @variant and $trophy_names[s.trophy] }.each do |scoreentry|
      %tr
        %td= h $trophy_names[scoreentry.trophy]
