%h2
    Trophies
.trophycabinet
    %h3 Individual
    %ul
        - ["king_of_the_world", "globetrotter", "sightseeing_tour"].each do |individualtrophy|
            %li
                - users = repository.adapter.select "select (select login from users where user_id = id) as user, user_id, icon from individualtrophies where trophy = ? order by upper(user);", individualtrophy
                - if users.size > 0
                    %a.imagelink{:title => $trophy_names[individualtrophy], :alt => $trophy_names[individualtrophy], :href => "/trophies#" + users[0].icon[0 .. (users[0].icon.length - 5)]}
                        %img.trophyleft{:src => "/icons/" + users[0].icon}
                    .trophyright
                        - users.each do |u|
                            %span
                                %a{:href => "/user/" + CGI::escape(u.user)}=h u.user

- $variants_mapping.each do |variant, variant_name|
    .trophycabinet
        %h3= variant_name
        %ul
            - scoreentries = repository.adapter.select "select distinct trophy, icon from scoreentries where variant = ? order by trophy;", variant
            - scoreentries.each do |s|
                - if $trophy_names[s.trophy]
                    %li
                        %a.imagelink{:title => $trophy_names[s.trophy], :alt => $trophy_names[s.trophy], :href => "/trophies#" + s.icon[0 .. (s.icon.length - 5)]}
                            %img.trophyleft{:src => "/icons/" + s.icon}
                        - users = repository.adapter.select "select (select login from users where user_id = id) as user, user_id from scoreentries where variant = ? and trophy = ? order by upper(user);", variant, s.trophy
                        .trophyright
                            - users.each do |u|
                                %span
                                    %a{:href => "/user/" + CGI::escape(u.user)}=h u.user
