.content_bulk
  .text_content_wrapper
    .text_content
      %p
        This is the NetHack Cross-Variant Summer Tournament. It runs annually during June.
      %p
        NetHack is a classic roguelike game. If you don't what that is, try using
        a Google search.
      %p
        You can check out tournament rules from the
        %a{:href => "/rules"} rules page.
      %p
        There is a list of available trophies and competitions
        on the
        %a{:href => "/trophies"} trophies page.
      %p
        This tournament utilizes existing public NetHack servers, such as
        %a{:href => "http://alt.org/nethack"} nethack.alt.org.
        There are servers in both sides of the Atlantic for low latencies.
        People not living in Europe or Americas may find it harder to find a low
        latency server.
    .text_content.non_top_post
      %p
        Our points of contact are the
        %a{:href => "irc://chat.freenode.net/junethack"}#junethack IRC channel
        on the Freenode IRC network and
        %a{:href => "http://nethackwiki.com/wiki/rec.games.roguelike.nethack"}rec.games.roguelike.nethack
        newsgroup.
    .text_content.non_top_post
      %p
        This website and the underlying software has been developed by the
        people listed in the
        %a{:href => "authors.txt"} authors file.
      %p
        The software this server runs on is publicly available at
        %a{:href => "https://github.com/junethack/Junethack"} GitHub.
        The licenses and other information is contained within the git repository.
    %span#end_of_content_spacer.clear
/ end of container
