.content_bulk
  .text_content_wrapper
    .text_content
      %p
        This is NetHack Summer tournament. It runs from July 16th midnight
        at UTC midnight (running through all of 16th) and ends at August 14th
        (also running through all of 14th).
      %p
        NetHack is a classic roguelike game. If you don't what is is, try using
        a Google search.
      %p
        This tournament utilizes existing public NetHack servers, such as
        %a{:href => "http://alt.org/nethack"} nethack.alt.org.
        There are servers in both sides of the Atlantic for low latencies.
        People not living in Europe or Americas may find it harder to find a low
        latency server.
    .text_content.non_top_post
      %p
        The official place of contact with the Junethack developers is at the
        \#junethack IRC channel on Freenode. We also read RGRN and the 
        %a{:href => "http://alt.org/nethack/forum/"}NAO forum.
    .text_content.non_top_post
      %p
        This website and the underlying software has been developed by the
        people listed in the
        %a{:href => "authors.txt"} authors file.
      %p
        The software this server runs on is publicly available at
        %a{:href => "https://github.com/junethack/Junethack"} GitHub.
        The licenses and other information is contained within the git repository.
    %span#end_of_content_spacer.clear
/ end of container
