.content_bulk
  .text_content_wrapper
    .text_content
      %h1 Clan Competition Overview
      =haml :_clan_trophies
      - @trophy = "most_points"
      =haml :clan_competition_trophy
      - @trophy = "most_ascended_combinations"
      =haml :clan_competition_trophy
      - @trophy = "most_unique_deaths"
      =haml :clan_competition_trophy
      - @trophy = "most_ascensions_in_a_24_hour_period"
      =haml :clan_competition_trophy
      - @trophy = "most_variant_trophy_combinations"
      =haml :clan_competition_trophy
      - @trophy = "most_medusa_kills"
      =haml :clan_competition_trophy
