#footer
  %footer
    This site (c) 2011
    %a{:href => "/authors.txt"} Junethack developers.
    [
    %a{:href => "/about"} About 
    \-
    %a{:href => "/rules"} Rules
    ]
    [
    %a{:href => "/games"} Games
    \-
    %a{:href => "/users"} Users
    \-
    %a{:href => "/clans"} Clans
    \-
    %a{:href => "/servers"} Servers
    \-
    %a{:href => "/trophies"} Trophies
    ]
    %a{:href => "http://flattr.com/thing/345872/Junethack-Nethack-Tournament", :target => "_blank"}
      %img{:src => "http://api.flattr.com/button/flattr-badge-large.png", :alt => "Flattr this", :title => "Flattr this", :border => "0"}

