#footer
  %footer
    (c) 2011-2012
    %a{:href => "/authors.txt"} Junethack developers.
    [
    %a{:href => "/about"} About 
    \-
    %a{:href => "/rules"} Rules
    ]
    [
    %a{:href => "/activity"} Activity
    \-
    %a{:href => "/servers"} Servers
    \-
    %a{:href => "/trophies"} Trophies
    ]
