/ This footer is using the minimum markup using current css.  In future, footer css should be optimised to match existing conventions, eg declarations based on clasess.
%footer.footer
  %ul
    %li.small_print
      .center
        %img.logo{:alt => "logo", :src =>"/logo.png"}
      .center
        &copy; 2011-2024 Junethack developers
