#footer
  %footer
    This site (c) 2011
    %a{:href => "/authors.txt"} Junethack developers.
    [
    %a{:href => "/about"} About 
    \-
    %a{:href => "/rules"} Rules
    ]
    [
    %a{:href => "/users"} Users
    \-
    %a{:href => "/clans"} Clans
    \-
    %a{:href => "/servers"} Servers
    \-
    %a{:href => "/trophies"} Trophies
    ]
