%h3 
  Most ascensions
.scorelisting
  %table
    %tr
      %th Name 
      %th Ascensions
    - count = 0
    - @most_ascended_users.each do |u|
      - style = (count % 2) == 0 ? "cell1" : "cell2"
      - count += 1
      %tr{:id => style}
        %td= h u.name
        %td= u.ascensions
