- news = News.all order: [ :created_at.desc ], :created_at.lte => DateTime.now
- if news.size > 0
  =h2 'News and Announcements'
  - for n in news
    %article= "<b>#{n.created_at.strftime("%Y-%m-%d")}</b>: #{n.html}"
