- t = Time.at($tournament_signupstarttime)
- day = t.strftime('%d').to_i
- month = t.strftime('%B ')
- signupstart = "#{month} #{day}"+([nil,'st','nd','rd'][((day)%10)]||'th')
Registration will open on #{signupstart}
