.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Rules and scoring
      %h2
        Cheating
      %p
        %p
          Don't cheat.
        %p
          What exactly is cheating and what is not is not always clear.
          The tournament staff makes the final decision. Here is a list of
          some things we consider cheating.
        %p
          %li
            Cracking into one of the game servers and add fake games or bones.
          %li
            Exploiting vulnerabilities in a weak random number generator in 
            order to attain achievements in the tournament.
          %li
            Exploiting memory corrupting bugs for the same goal.
          %li
            Using disconnection at critical spots to hide a death from logs.
        %p
          Here are some things that we don't consider cheating (although some
          of them may be against the spirit of the game).
        %p
          %li
            Pudding farming.
          %li
            Start scumming.
          %li
            Looking at player dumplogs to see what items a bones pile has.
          %li
            Similarly, examining ttyrecs to find items or to recover memory 
            from amnesia.
          %li
            Using NetHack playing bots or so called "augmentation" tools 
            like Interhack.
          %li
            Exploiting well known game bugs (such as Astral call, floating
            wand wresting trick, gold duplication bug, artifact naming trick,
            etc.) Some of these may be fixed on some servers.
          %li
            In general we don't consider cheating any things you do within the
            "rules" of the game.
        %p
          If we catch you cheating, expect some form of punishment.
        %p
          We haven't had any blatant cheating incidents in the past. Just use 
          common sense and you will be fine.
        .text_content.non_top_post
      %h2
        Other things
      %p
        %p{:id => "startscumming"}
          For this tournament,
          %a{:href => "http://nethackwiki.com/wiki/Start_scumming"}start scumming games
          are defined as games where the player escapes or quits within the first 10
          turns. Such games are hidden on the games tables but are otherwise treated like
          normal games.
        %p
          Streaks are sequences of non-overlapping games played on a single
          game server account, with no games in-between.
        .text_content.non_top_post
        %p
          The score for competitions and clan competitions is calculated as
          follows:
          %p
            %li
              Only the best game for each player is considered, for each
              category.
            %li
              The first place player(s) get 4 points, the second place
              player(s) get 3 points, the third place player(s) get 2 points,
              and the remaining players get points according to the ratio
              of their best evaluated game to the winner(s)' best evaluated
              game.
            %li
              In case of a tie, all the players with the same evaluation get
              the same amount of points; in the ranking, they're considered
              as one player.
            %li
              Games with negative scores are discarded for the "lowest scoring
              ascension" competition.

        .text_content.non_top_post
        %p
          The score for trophies is fixed - one point for each trophy;
          streak trophies are separate from their standard counterpart,
          the requirement for those is that all the requirements for the
          trophy are fulfilled in a sequence of ascensions on a single
          game server account.
          Achievement trophies yield equal fractions of a point according
          to how many achievements were obtained in the whole tournament.
        %p
          You can view a list of the available trophies and competitions
          %a{:href => "/trophies"}
            here.
        %p
          Cross-variant trophies exclude NetHack 1.3d; the "Sightseeing
          Tour" trophy requires a game from each variant to be played for at
          least 1000 turns, or to finish with an ascension; the "Globetrotter"
          trophy doesn't require a full trophy for each variant - a single
          achievement out of the set for each variant is enough.
        %p
          The "No membership card" and "Too good for a brain" trophies are
          UnNetHack-specific.
    %span#end_of_content_spacer.clear
