.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Rules
      %p
        Some rules are needed so that everyone can play nice with each other.
      %h2
        Cheating
      %p
        %p
          Don't cheat.
        %p
          What exactly is cheating and what is not is not always clear.
          The tournament staff makes the final decision. Here is a list of
          some things we consider cheating.
        %p
          %li
            Cracking into one of the game servers and adding fake games or bones.
          %li
            Exploiting vulnerabilities in a weak random number generator in 
            order to attain achievements in the tournament.
          %li
            Exploiting memory corrupting bugs for the same goal.
          %li
            Using disconnection at critical spots to hide a death from logs.
        %p
          Here are some things that we don't consider cheating (although some
          of them may be against the spirit of the game).
        %p
          %li
            Pudding farming.
          %li
            Start scumming. (look <a href="#startscumming">here for the definition</a> of a start scummed game)
          %li
            Looking at player dumplogs to see what items a bones pile has.
          %li
            Similarly, examining ttyrecs to find items or to recover memory 
            from amnesia.
          %li
            Using NetHack playing bots or so called "augmentation" tools 
            like Interhack.
          %li
            Exploiting well known game bugs (such as Astral call, floating
            wand wresting trick, gold duplication bug, artifact naming trick,
            etc.) Some of these may be fixed on some servers.
          %li
            In general we don't consider cheating any things you do within the
            "rules" of the game.
        %p
          If we catch you cheating, expect some form of punishment.
        %p
          We haven't had any blatant cheating incidents in the past. Just use 
          common sense and you will be fine.
        .text_content.non_top_post
      %h2
        Startscumming
      %p
        %p{:id => "startscumming"}
          For this tournament,
          %a{:href => "http://nethackwiki.com/wiki/Start_scumming"}start scumming games
          are defined as games where the player escapes or quits within the first 10
          turns. Such games are hidden on the games tables but are otherwise treated like
          normal games.
      .text_content.non_top_post
    %span#end_of_content_spacer.clear
