.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Rules
      %p.description
        Rule violations will be met with dire consequences!  Dire!  And consequential!
        (Yeah, it doesn't happen much.)
        Staff make the final decision if it's not clear.  Here's what Junethack thinks is cheating.
      %h2
        Don't:
      %ul
        %li
          crack into one of the game servers and adding fake games or bones.
        %li
          exploit vulnerabilities in a weak random number generator.
        %li
          exploit memory corrupting bugs.
        %li
          use disconnection at critical spots to hide a death from logs.
      %p.description
        And here's what officially isn't cheating.
        Fellow adventurers may disapprove mightily but Junethack doesn't care.
      %h2
        Do:
      %ul
        %li
          <a href='http://nethackwiki.com/wiki/Pudding_farming'>pudding farm</a>.
        %li
          <a href='http://nethackwiki.com/wiki/Start_scumming'>start scum</a>:
          Escaping or quitting within the first 10 turns. These games are hidden on the games tables, though.
        %li
            look at player 
          <a href='http://nethackwiki.com/wiki/Dumplog'>dumplogs</a>.
        %li
            watch 
            <a href='http://nethackwiki.com/wiki/Ttyrec'>ttyrecs</a>
            of previous or current games.
        %li
            use NetHack playing bots or so called "augmentation" tools
            like Interhack.
        %li
            exploit well known game bugs (eg, Astral call bug, floating
            wand wresting trick, gold duplication bug, artifact naming trick,
            etc). Some of these may be fixed on some servers.
        %li
            in general, anything the game says you can do. (whew!)

      .text_content.non_top_post
    %span#end_of_content_spacer.clear
