.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Scoreboard
    .text_content.non_top_post
      =haml :_clan_trophies
    .text_content.non_top_post
      =haml :_trophy_scores
    .text_content.non_top_post
      =haml :games_played
    .text_content.non_top_post
      =haml :generic_scores
    %span#end_of_content_spacer.clear
/ end of container
