.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Scoreboard
    =haml :_clan_trophies
    =haml :_trophy_scores
    =haml :games_played
    =haml :generic_scores
    %span#end_of_content_spacer.clear
/ end of container
