.content_bulk
  .text_content_wrapper
    .text_content
      %p
        These are our servers.
    .text_content
      %table.prettytable
        %tr
          %th
            Server name
          %th
            Abbreviation
          %th
            Variant name
          %th
            Status
          %th
            Administrator
          %th
            Issues/notes
        %tr
          %td
            nethack.alt.org
          %td
            %a{:href => "/server/nao"} NAO
          %td
            vanilla
          %td
            &nbsp;
          %td
            paxed
          %td
            &nbsp;
        %tr
          %td
            acehack.rawrnix.com
          %td
            %a{:href => "/server/arc"} ARC
          %td
            acehack
          %td
            &nbsp;
          %td
            rawrmage
          %td
            &nbsp;
        %tr
          %td
            acehack.sovrappensiero.info
          %td
            %a{:href => "/server/asi"} ASI
          %td
            acehack
          %td
            &nbsp;
          %td
            kerio
          %td
            &nbsp;
        %tr
          %td
            un.nethack.nu
          %td
            %a{:href => "/server/eun"} EUN
          %td
            unnethack
          %td
            &nbsp;
          %td
            octe
          %td
            &nbsp;
        %tr
          %td
            nethack.fi
          %td
            %a{:href => "/server/nfi"} NFI
          %td
            vanilla
          %td
            &nbsp;
          %td
            paxed, ...
          %td
            &nbsp;
        %tr
          %td
            sporkhack.com
          %td
            %a{:href => "/server/shc"} SHC
          %td
            sporkhack
          %td
            &nbsp;
          %td
            lorimer
          %td
            &nbsp;
        %tr
          %td
            us.un.nethack.nu
          %td
            %a{:href => "/server/uun"} UUN
          %td
            unnethack
          %td
            &nbsp;
          %td
            blister
          %td
            &nbsp;
        %tr
          %td
            acehack.sovrappensiero.info
          %td
            %a{:href => "/server/n13"} N13
          %td
            nethack 1.3d
          %td
            &nbsp;
          %td
            kerio
          %td
            &nbsp;
        %tr
          %td
            nethack.eu
          %td
            %a{:href => "/server/neu"} NEU
          %td
            vanilla
          %td
            &nbsp;
          %td
            blackpenguin
          %td
            &nbsp;


      %span#end_of_content_spacer.clear
