.content_bulk
  - if @logged_in
    .signup_text
      %p
        %a{:href => "register"} Sign up now!
  .text_content_wrapper
    .text_content
      %h2
        Welcome to the NetHack Summer tournament site!
      %p
        Are you ready to embark the Dungeons of Doom? To kill all your
        enemies and EAT their corpses? Collect all the treasures the
        earth has to offer? Ready to challenge the mightiest
        demons of Gehennom and battle the mighty Wizard of Yendor?
        BADASS enough to travel the Heavens themselves while kicking
        angels in the face?
      %p
        Then play NetHack.
      %p
        And also play in the NetHack Summer tournament.
    .text_content.non_top_post
      %p
        You can view the tournament rules at the 
        %a{:href => "/rules"} Rules page.
      %p
        You can view the competitions and trophies up for grabs at the
        %a{:href => "/trophies"} Trophies page.
      %p
        Games played on the servers listed on the
        %a{:href => "/servers"} Servers page
        are eligible for the tournament.
    .text_content.non_top_post
      %h2
        Huh?
      %p
        What's 
        %a{:href => "http://en.wikipedia.org/wiki/NetHack"} NetHack?
        What's
        %a{:href => "about"} this all about?
      %p
        The tournament starts July 16th at UTC midnight and runs until 
        the end of August 14th.
    %span#end_of_content_spacer.clear
/ end of container
