<!doctype html>
%html
  %head
    %meta{:content => "application/xhtml+xml;charset=utf-8", "http-equiv" => "content-type"}/
    %link{:href => "style-xiella.css", :rel => "stylesheet", :type => "text/css"}/
    %title Junethack
  %body
    #messages
      - for message in @messages
        %div.message= message
    #errors
      - for error in @errors
        %div.error= error
    #container
      #topnav.navigation
        %nav
          / use of the nav element: http://www.webteacher.ws/2009/07/09/html5-the-nav-element
          %h1
            Navigation
          %ul
            %li.current_nav_page
              %a{:href => "#"} Home
            %li
              %a{:href => "/login"} Login
            %li
              %a{:href => "#"} Scoreboard
            %li
              %a{:href => "#"} Help
          %span.clear
      .hcenter
        %p
          %img{:alt => "Logo", :src => "banner_at2.png"}/
      .content_bulk
        .signup_text
          %p
            %a{:href => "register"} Sign up now!
        .text_content_wrapper
          .text_content
            %h2
              News item or welcome note
            %p
              Consectetur adipiscing elit. Pellentesque nec odio eget leo sollicitudin aliquam. Cras vestibulum aliquam eros, sit amet posuere massa cursus vel. Maecenas scelerisque nisi at tellus semper ullamcorper. Fusce in leo velit, sit amet hendrerit lacus. Curabitur venenatis auctor augue. Proin purus augue, tristique tempor venenatis vel, tempus quis diam. In non nisl lacus. Quisque lobortis, felis a fermentum bibendum, lectus felis iaculis massa, in adipiscing nunc risus non enim.
            %p
              This is what
              %a{:href => "#"} a normal link
              looks like.
            %p
              Consectetur adipiscing elit. Pellentesque nec odio eget leo sollicitudin aliquam. Cras vestibulum aliquam eros, sit amet posuere massa cursus vel. Maecenas scelerisque nisi at tellus semper ullamcorper. Fusce in leo velit, sit amet hendrerit lacus. Curabitur venenatis auctor augue. Proin purus augue, tristique tempor venenatis vel, tempus quis diam. In non nisl lacus. Quisque lobortis, felis a fermentum bibendum, lectus felis iaculis massa, in adipiscing nunc risus non enim.
          .text_content.non_top_post
            %h2
              Optional news item 2, demonstrates divider image
            %p
              Consectetur adipiscing elit. Pellentesque nec odio eget leo sollicitudin aliquam. Cras vestibulum aliquam eros, sit amet posuere massa cursus vel. Maecenas scelerisque nisi at tellus semper ullamcorper. Fusce in leo velit, sit amet hendrerit lacus. Curabitur venenatis auctor augue. Proin purus augue, tristique tempor venenatis vel, tempus quis diam. In non nisl lacus. Quisque lobortis, felis a fermentum bibendum, lectus felis iaculis massa, in adipiscing nunc risus non enim.
          %span#end_of_content_spacer.clear
      #footer
        %footer
          %a{:href => "about"} About this Site
          (c) 2011
          %a{:href => "authors"} junethack developers
    / end of container
