.content_bulk
  .title_text
    %p
      Running from 1 June until the end of 30 June 2012
  // countdown to tournament start
  - if Time.new.to_i < $tournament_starttime
    .title_text
      %p= parse_seconds $tournament_starttime - Time.new.to_i
  - if @logged_in 
    - if Time.new.to_i > $tournament_signupstarttime and Time.new.to_i < $tournament_endtime
      .signup_text
        %p
          %a{:href => "register"} Sign up now!
    - if Time.new.to_i < $tournament_signupstarttime
      .title_text
        %p
          Registration opens in May
  .text_content_wrapper
    .text_content
      %h2
        Welcome to the NetHack Cross-Variant Summer Tournament site!
      %p
        Are you ready to embark the Dungeons of Doom? To kill all your
        enemies and EAT their corpses? Collect all the treasures the
        earth has to offer? Ready to challenge the mightiest
        demons of Gehennom and battle the mighty Wizard of Yendor?
        BADASS enough to travel the Heavens themselves while kicking
        angels in the face?
      %p
        Then play NetHack.
      %p
        And also play in the NetHack Cross-Variant Summer Tournament.
    .text_content.non_top_post
      =haml :news
    .text_content.non_top_post
      %p
        You can view the results of the 2011 tournament at the
        %a{:href => "http://junethack-2011.rawrnix.com/"} Junethack 2011 site.
      %p
        You can view the tournament rules at the 
        %a{:href => "/rules"} Rules page.
      %p
        You can view the competitions and trophies up for grabs at the
        %a{:href => "/trophies"} Trophies page.
      %p
        Games played on the servers listed on the
        %a{:href => "/servers"} Servers page
        are eligible for the tournament.
    .text_content.non_top_post
      %h2
        Huh?
      %p
        What's 
        %a{:href => "http://en.wikipedia.org/wiki/NetHack"} NetHack?
        What's
        %a{:href => "about"} this all about?
      %p
        The tournament starts 1 June 2012 at UTC midnight and runs until
        the end of 30 June 2012.
    %span#end_of_content_spacer.clear
/ end of container
