.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Trophies and competitions
      %p
        %h2
          Trophies
        %p
          These trophies apply separately to each variant (excluding NetHack
          1.3d). Each is worth one point.
        %p
          %li
            All conducts: follow each conduct in at least one ascension.
          %li
            All conducts (in a streak): follow each conduct in at least one
            ascension, with all the ascensions belonging to the same streak.
          %li
            All roles: ascend a character for each role.
          %li
            All roles (in a streak): ascend a character for each role in the
            same streak.
          %li
            All races: ascend a character of every race.
          %li
            All races (in a streak): ascend a character of every race in the
            same streak.
          %li
            All alignments: ascend a character of every alignment (the starting
            alignment is considered).
          %li
            All alignments (in a streak): ascend a character of every alignment
            in the same streak (the starting alignment is considered).
          %li
            All genders: ascend a character of each gender (the starting gender
            is considered).
          %li
            All genders (in a streak): ascend a character of each gender (the
            starting gender is considered).
          %li
            Ascension: ascend a character.
          %li
            Achievement trophy (each subtrophy is worth an equal fraction of a
            point):
            %ul
              %li
                get the Sokoban price
              %li
                get the luckstone from Mines' End
              %li
                get the Bell of Opening
              %li
                defeat Medusa
              %li
                enter Gehennom
              %li
                get the Candelabrum of the Invocation
              %li 
                get the Book of the Dead
              %li
                complete the invocation ritual
              %li
                get the Amulet of Yendor
              %li
                enter the elemental planes
              %li
                enter the Astral Plane
        .text_content.non_top_post
    %span#end_of_content_spacer.clear
