.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Trophies and competitions
      %p
        %h2
          Trophies
        %p
          These trophies apply separately to each variant (excluding NetHack
          1.3d). Each is worth one point.
        %p
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-conducts.png"}
            %span
              All conducts: follow each conduct in at least one ascension.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-conducts.png"}
            %span
              All conducts (in a streak): follow each conduct in at least one
              ascension, with all the ascensions belonging to the same streak.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-roles.png"}
            %span
              All roles: ascend a character for each role.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-roles.png"}
            %span
              All roles (in a streak): ascend a character for each role in the
              same streak.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-races.png"}
            %span
              All races: ascend a character of every race.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-races.png"}
            %span
              All races (in a streak): ascend a character of every race in the
              same streak.
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-alignments.png"}
            %span
              All alignments: ascend a character of every alignment (the starting
              alignment is considered).
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-alignments.png"}
            %span
              All alignments (in a streak): ascend a character of every alignment
              in the same streak (the starting alignment is considered).
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-genders.png"}
            %span
              All genders: ascend a character of each gender (the starting gender
              is considered).
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-genders.png"}
            %span
              All genders (in a streak): ascend a character of each gender (the
              starting gender is considered).
            %span#tiny_content_spacer.clear
          %li
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/king.png"}
            %span
              Ascension: ascend a character.
            %span#tiny_content_spacer.clear
          %li
            Achievement trophy (each subtrophy is worth an equal fraction of a
            point):
            %ul
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-soko.png"}
                %span
                  get the Sokoban price
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-luckstone.png"}
                %span
                  get the luckstone from Mines' End
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-bell.png"}
                %span
                  get the Bell of Opening
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-medusa.png"}
                %span
                  defeat Medusa
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-gehennom.png"}
                %span
                  enter Gehennom
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-candelabrum.png"}
                %span
                  get the Candelabrum of the Invocation
                %span#tiny_content_spacer.clear
              %li 
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-book.png"}
                %span
                  get the Book of the Dead
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-invocation.png"}
                %span
                  complete the invocation ritual
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-amulet.png"}
                %span
                  get the Amulet of Yendor
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-planes.png"}
                %span
                  enter the elemental planes
                %span#tiny_content_spacer.clear
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-astral.png"}
                %span
                  enter the Astral Plane
                %span#tiny_content_spacer.clear
        .text_content.non_top_post
    %span#end_of_content_spacer.clear
