.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Trophies and competitions
      %p
        %h2
          Trophies
        %h3
          Individual
        %p
          %li#sightseeing
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/sightseeing.png"}
            %span
              Sightseeing tour: finish a game in all variants (die or ascend)
            %span#tiny_content_spacer.clear
          %li#globetrotter
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/globetrotter.png"}
            %span
              Globetrotter: get a trophy for each variant
            %span#tiny_content_spacer.clear
          %li#king
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/king.png"}
            %span
              King of the world: ascend in all variants
        .text_content.non_top_post
        %h3
          All Variants
        %p
          These trophies apply separately to each variant (excluding NetHack
          1.3d). Each is worth one point.
        %p
          %li#all-conducts
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-conducts.png"}
            %span
              All conducts: follow each conduct in at least one ascension.
            %span#tiny_content_spacer.clear
          %li#streak-conducts
            %img{:style => "width:5%;height:5%", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-conducts.png"}
            %span
              All conducts (in a streak): follow each conduct in at least one
              ascension, with all the ascensions belonging to the same streak.
            %span#tiny_content_spacer.clear
          %li#all-roles
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-roles.png"}
            %span
              All roles: ascend a character for each role.
            %span#tiny_content_spacer.clear
          %li#streak-roles
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-roles.png"}
            %span
              All roles (in a streak): ascend a character for each role in the
              same streak.
            %span#tiny_content_spacer.clear
          %li#all-races
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-races.png"}
            %span
              All races: ascend a character of every race.
            %span#tiny_content_spacer.clear
          %li#streak-races
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-races.png"}
            %span
              All races (in a streak): ascend a character of every race in the
              same streak.
            %span#tiny_content_spacer.clear
          %li#all-alignments
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-alignments.png"}
            %span
              All alignments: ascend a character of every alignment (the starting
              alignment is considered).
            %span#tiny_content_spacer.clear
          %li#streak-alignments
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-alignments.png"}
            %span
              All alignments (in a streak): ascend a character of every alignment
              in the same streak (the starting alignment is considered).
            %span#tiny_content_spacer.clear
          %li#all-genders
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/all-genders.png"}
            %span
              All genders: ascend a character of each gender (the starting gender
              is considered).
            %span#tiny_content_spacer.clear
          %li#streak-genders
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/streak-genders.png"}
            %span
              All genders (in a streak): ascend a character of each gender (the
              starting gender is considered).
            %span#tiny_content_spacer.clear
          %li#ascension
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/ascension.png"}
            %span
              Ascension: ascend a character.
            %span#tiny_content_spacer.clear
          %li#m-soko
            Achievement trophy (each subtrophy is worth an equal fraction of a
            point):
            %ul
              %li
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-soko.png"}
                %span
                  get the Sokoban price
                %span#tiny_content_spacer.clear
              %li#m-luckstone
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-luckstone.png"}
                %span
                  get the luckstone from Mines' End
                %span#tiny_content_spacer.clear
              %li#m-bell
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-bell.png"}
                %span
                  get the Bell of Opening
                %span#tiny_content_spacer.clear
              %li#m-medusa
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-medusa.png"}
                %span
                  defeat Medusa
                %span#tiny_content_spacer.clear
              %li#m-gehennom
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-gehennom.png"}
                %span
                  enter Gehennom
                %span#tiny_content_spacer.clear
              %li#m-candelabrum
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-candelabrum.png"}
                %span
                  get the Candelabrum of the Invocation
                %span#tiny_content_spacer.clear
              %li#m-book
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-book.png"}
                %span
                  get the Book of the Dead
                %span#tiny_content_spacer.clear
              %li#m-invocation
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-invocation.png"}
                %span
                  complete the invocation ritual
                %span#tiny_content_spacer.clear
              %li#m-amulet
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-amulet.png"}
                %span
                  get the Amulet of Yendor
                %span#tiny_content_spacer.clear
              %li#m-planes
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-planes.png"}
                %span
                  enter the elemental planes
                %span#tiny_content_spacer.clear
              %li#m-astral
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-astral.png"}
                %span
                  enter the Astral Plane
        .text_content.non_top_post
        %h3
          AceHack and UnNetHack
        %p
          %li#m-croesus
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-croesus.png"}
            %span
              Assault on Fort Knox: defeat Croesus
            %span#tiny_content_spacer.clear
          %li#m-sam
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-sam.png"}
            %span
              No membership card: defeat One-Eyed Sam (UnNetHack only)
            %span#tiny_content_spacer.clear
          %li#m-no-nemesis
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-no-nemesis.png"}
            %span
              Too good for quests: ascend without defeating the quest nemesis
            %span#tiny_content_spacer.clear
          %li#m-no-vlad
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-no-vlad.png"}
            %span
              Too good for Vladbanes: ascend without defeating Vlad
            %span#tiny_content_spacer.clear
          %li#m-no-wizard
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-no-wizard.png"}
            %span
              Too good for... wait, what? How?: ascend without defeating Rodney
            %span#tiny_content_spacer.clear
          %li#m-no-cthulhu
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-no-cthulhu.png"}
            %span
              Too good for a brain: ascend without defeating Cthulhu (UnNetHack only)
            %span#tiny_content_spacer.clear
          %li#m-hoarder
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/m-hoarder.png"}
            %span
              Hoarder: ascend carrying all the invocation items
        .text_content.non_top_post
        %h3
          Nethack 1.3d
        %p
          %li#old-ascension
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/old-ascension.png"}
            %span 
              Ascension: ascend a character.
            %span#tiny_content_spacer.clear
          %li
            Achievement trophy (each subtrophy is worth an equal fraction of a
            point):
            %ul 
              %li#old-crowned
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/old-crowned.png"}
                %span
                  get crowned
                %span#tiny_content_spacer.clear
              %li#old-hell
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/old-hell.png"}
                %span
                  enter Hell
                %span#tiny_content_spacer.clear
              %li#old-wizard
                %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/old-wizard.png"}
                %span
                  defeat Rodney
        .text_content.non_top_post
        %h2         
          Competitions
        %h3
          All Variants
        %p
          These competitions apply separately to each variant (excluding NetHack
          1.3d). First place is awarded 4 points, second place is awarded 3,
          2 for third place. For others they are awarded (winner's score/
          player's score) swapping for fastest ascension and lowest score.
        %p
          %li#c-most-ascensions
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-most-ascensions.png"}
            %span
              Most ascensions
            %span#tiny_content_spacer.clear
          %li#c-longest-streak
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-longest-streak.png"}
            %span
              Longest ascension streak
            %span#tiny_content_spacer.clear
          %li#c-fastest-gametime
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-fastest-gametime.png"}
            %span
              Fastest ascension (gametime)
            %span#tiny_content_spacer.clear
          %li#c-fastest-realtime
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-fastest-realtime.png"}
            %span
              Fastest ascension (realtime)
            %span#tiny_content_spacer.clear
          %li#c-highest-score
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-highest-score.png"}
            %span
              Highest scoring ascension
            %span#tiny_content_spacer.clear
          %li#c-lowest-score
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-lowest-score.png"}
            %span
              Lowest scoring ascension (modulo depth)
            %span#tiny_content_spacer.clear
          %li#c-most-conducts
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/c-most-conducts.png"}
            %span
              Most conducts in a single ascension
        .text_content.non_top_post
        %h3
          Clan Competitions
        %p
          %li#clan-24h
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/clan-24h.png"}
            %span
              Most ascensions in a 24 hour period
            %span#tiny_content_spacer.clear
          %li#clan-combinations
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/clan-combinations.png"}
            %span
              Most ascended variant/role/race/alignment/gender combinations (starting)
            %span#tiny_content_spacer.clear
          %li#clan-points
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/clan-points.png"}
            %span
              Most points
            %span#tiny_content_spacer.clear
          %li#clan-deaths
            %img{:style => "width:5%;height:5%;vertical-align:middle", :alt => "All Conducts Logo", :width => "5%", :height => "5%", :src => "/icons/clan-deaths.png"}
            %span
              Most unique deaths
        .text_content.non_top_post
    %span#end_of_content_spacer.clear
