.content_bulk
  .text_content_wrapper
    .text_content
      %h1
        Trophies and competitions
      %p
        %h2
          Trophies
        %h3
          Cross-Variant
        %ul.trophypage
          %li#walk_in_the_park
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/walk_in_the_park.png"}
            %span
              Walk in the Park: finish a game in half of the variants (played for at least 1000 turns).
          %li#sightseeing
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/sightseeing.png"}
            %span
              Sightseeing Tour: finish a game in all variants (played for at least 1000 turns).
          %li#backpacking_tourist
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/backpacking_tourist.png"}
            %span
              Backpacking Tourist: get a trophy for half of the variants.
          %li#globetrotter
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/globetrotter.png"}
            %span
              Globetrotter: get a trophy for each variant.
          %li#hemi-stoner
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/hemi-stoner.png"}
            %span
              Hemi-Stoner: defeat Medusa in half of the variants.
          %li#anti-stoner
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/anti-stoner.png"}
            %span
              Anti-Stoner: defeat Medusa in all variants.
          %li#prince
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/prince.png"}
            %span
              Prince of the World: ascend in half of the variants.
          %li#king
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/king.png"}
            %span
              King of the World: ascend in all variants.

        %p.small_print
          "All variants" means Vanilla NetHack, SporkHack, UnNetHack, GruntHack, NetHack4, DNetHack, NetHack Fourk, and SlashTHEM.
          NetHack 1.3d does not contribute to the completion of these trophies.
        .text_content.non_top_post
        %h3
          All Variants
        %p
          These trophies apply separately to each variant (excluding NetHack 1.3d).
          Each is worth one point.
          %br
          %span.small_print In variants with additional roles or races only 13 roles resp. 5 races (i.e. as many as in vanilla) must be ascended to achieve this trophy.
        %ul.trophypage
          %li#all-conducts
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/all-conducts.png"}
            %span
              All conducts: follow each conduct in at least one ascension.
          %li#all-roles
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/all-roles.png"}
            %span
              All roles: ascend a character for each role.
          %li#all-races
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/all-races.png"}
            %span
              All races: ascend a character of every race.
          %li#all-alignments
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/all-alignments.png"}
            %span
              All alignments: ascend a character of every alignment (the starting
              alignment is considered).
          %li#all-genders
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/all-genders.png"}
            %span
              All genders: ascend a character of each gender (the starting gender
              is considered).
          %li#ascension
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/ascension.png"}
            %span
              Ascension: ascend a character.
          %li#m-soko
            %h3
              Achievement trophies
            %p
              For NetHack4 and NetHack Fourk, the requirements are sometimes different. When
              applicable this is noted in parentheses next to the vanilla
              requirement.
            %ul.trophypage{:style => "margin-left: 2em;"}
              %li
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-soko.png"}
                %span
                  get the Sokoban prize (get an Oracle consultation)
              %li#m-luckstone
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-luckstone.png"}
                %span
                  get the luckstone from Mines' End (get accepted to quest)
              %li#m-bell
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-bell.png"}
                %span
                  get the Bell of Opening (defeat the quest nemesis)
              %li#m-medusa
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-medusa.png"}
                %span
                  defeat Medusa
              %li#m-gehennom
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-gehennom.png"}
                %span
                  enter Gehennom (enter Gehennom the front way)
              %li#m-candelabrum
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-candelabrum.png"}
                %span
                  get the Candelabrum of Invocation (defeat Vlad)
              %li#m-book
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-book.png"}
                %span
                  get the Book of the Dead (defeat Rodney at least once)
              %li#m-invocation
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-invocation.png"}
                %span
                  complete the invocation ritual
              %li#m-amulet
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-amulet.png"}
                %span
                  get the Amulet of Yendor (defeat the High Priest of Moloch)
              %li#m-planes
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-planes.png"}
                %span
                  enter the elemental planes
              %li#m-astral
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-astral.png"}
                %span
                  enter the Astral Plane
              %li#escapologist
                %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/escapologist.png"}
                %span
                  Escapologist: escape in celestial disgrace
        .text_content.non_top_post
        %h3
          NetHack4, NetHack Fourk and UnNetHack
        %ul.trophypage
          %li#m-croesus
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-croesus.png"}
            %span
              Assault on Fort Knox: defeat Croesus
          %li#m-sam
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-sam.png"}
            %span
              No membership card: defeat One-Eyed Sam (UnNetHack only)
          %li#m-no-nemesis
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-no-nemesis.png"}
            %span
              Too good for quests: ascend without defeating the quest nemesis
          %li#m-no-vlad
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-no-vlad.png"}
            %span
              Too good for Vladbanes: ascend without defeating Vlad
          %li#m-no-wizard
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-no-wizard.png"}
            %span
              Too good for... wait, what? How?: ascend without defeating Rodney
          %li#m-no-cthulhu
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-no-cthulhu.png"}
            %span
              Too good for a brain: ascend without defeating Cthulhu (UnNetHack only)
          %li#m-hoarder
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-hoarder.png"}
            %span
              Hoarder: ascend carrying all the invocation items
          %li#heaven-or-hell
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/heaven-or-hell.png"}
            %span
              Heaven or Hell: ascend in "Heaven or Hell" mode (monsters and player only have 1 HP) (Acehack and UnNetHack only)
          %li#m-mini-croesus
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-mini-croesus.png"}
            %span
              Mini-Croesus: finish a game with at least 100,000 gold pieces (UnNetHack only)

        .text_content.non_top_post
        %h3
          DNetHack
        %ul.trophypage
          %li#m-one-key
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-one-key.png"}
            %span
              That was the easy one: obtained at least one alignment key
          %li#m-three-keys
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-three-keys.png"}
            %span
              Through the gates of Gehennom: obtained at least three alignment keys
          %li#m-nine-keys
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-nine-keys.png"}
            %span
              Those were for replay value...: obtained all nine alignment keys
          %li#m-killed-lucifer
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-killed-lucifer.png"}
            %span
              Round two goes to you: killed Lucifer on the Astral Plane
          %li#m-killed-asmodeus
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-killed-asmodeus.png"}
            %span
              No budget for bribes: killed Asmodeus
          %li#m-killed-demogorgon
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/m-killed-demogorgon.png"}
            %span
              Postulate Proven: killed Demogorgon, thereby proving the Lord British Postulate (if it has stats, we can kill it)

        .text_content.non_top_post
        %h3
          Nethack 1.3d
        %ul.trophypage
          %li#old-ascension
            %img{:style => "vertical-align:middle", :alt => "All Conducts Logo", :src => "/icons/old-ascension.png"}
            %span 
              Ascension: ascend a character.
          %li
            Achievements:
            %ul.trophypage{:style => "margin-left: 2em;"} 
              %li#old-crowned
                %img{:style => "vertical-align:middle", :alt => "All Conducts Logo", :src => "/icons/old-crowned.png"}
                %span
                  get crowned
              %li#old-hell
                %img{:style => "vertical-align:middle", :alt => "All Conducts Logo", :src => "/icons/old-hell.png"}
                %span
                  enter Hell
              %li#old-wizard
                %img{:style => "vertical-align:middle", :alt => "All Conducts Logo", :src => "/icons/old-wizard.png"}
                %span
                  defeat Rodney
        .text_content.non_top_post
        %h2
          Competitions
        %h3
          All Variants
        %p
          These trophies apply separately to each variant (excluding NetHack 1.3d).
        %ul.trophypage
          %li#c-most-ascensions
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-most-ascensions.png"}
            %span
              Most ascensions
          %li#c-fastest-gametime
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-fastest-gametime.png"}
            %span
              Fastest ascension (by turns)
          %li#c-fastest-realtime
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-fastest-realtime.png"}
            %span
              Fastest ascension (by wall-clock time)
          %li#c-highest-score
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-highest-score.png"}
            %span
              Highest scoring ascension
          %li#c-lowest-score
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-lowest-score.png"}
            %span
              Lowest scoring ascension (not counting negative scores)
          %li#c-most-conducts
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-most-conducts.png"}
            %span
              Most conducts in a single ascension
          %li#c-longest-streak
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/c-longest-streak.png"}
            %span
              Longest ascension streak
              (non-overlapping games played on a single game server
              account with no games in-between.)
        .text_content.non_top_post
        %h3
          Clan Competitions Trophies
        %p
          Each player of a clan contributes to the total clan score.
          Clans are ranked according to clan score.
        %p
          First place is awarded 4 points, second place is awarded 3,
          2 for third place. The remaining clans get points according
          to the ratio of their best evaluated score to the winner clan's best
          evaluated score.
        %p
          In case of a tie, all clans with the same evaluation get
          the same amount of points; in the ranking, they're considered
          as one clan.
        -# example?
        %ul.trophypage
          %li#clan-24h
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-24h.png"}
            %span
              Most ascensions in a 24 hour period
          %li#clan-combinations
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-combinations.png"}
            %span
              Most ascended variant/role/race/alignment/gender combinations (starting)
          %li#clan-points
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-points.png"}
            %span
              Most logarithmic points
          %li#clan-deaths
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-deaths.png"}
            %span= "Most unique deaths (<a href='/deaths#unique_deaths'>look here for unique deaths of played games</a>)"
          %li#clan-variant-trophies
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-variant-trophies.png"}
            %span
              Most variant/trophy combinations
          %li#clan-most-medusa-kills
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-medusa-kills.png"}
            %span
              Most Medusa kills
          %li#clan-full-conducts-broken
            %img{:style => "vertical-align:middle", :alt => "", :src => "/icons/clan-full-conducts-broken.png"}
            %span
              Most games with all conducts broken
        .text_content.non_top_post
    %span#end_of_content_spacer.clear
