%li
  .trophyleft{id: link_id('Cross-Variant')}
    %a{href: "##{link_id('Cross-Variant')}"}= 'Cross-Variant'
  .trophyright
    - trophies = repository.adapter.select "select trophy from individualtrophies where user_id = ?", @player.id
    - row = 1
    - for individualtrophy in Trophy.cross_variant_trophies
      - newline = individualtrophy.row != row
      - row = individualtrophy.row
      - icon = (trophies.include? individualtrophy.trophy) ? individualtrophy.icon : individualtrophy.light_icon
      - if newline
        %br
      %a.imagelink{:title => individualtrophy.text, :href => "/trophies#" + individualtrophy.anchor}
        %img{:src => "/icons/" + icon, :alt => individualtrophy.text}
