.navigation {
  position: relative;
  z-index:10;
}

#back_to_top {
  position: fixed;
  top: 15px;
  right: 10%;
  z-index: 5;
  background: transparent;
  color: white;
  font-weight:bold;
  display: block;
  padding: 0.5em;
  text-align: center;
  width: 10%;
}
a#back_to_top:hover {
  background: #888;
}
