/* MEYER RESET
http://meyerweb.com/eric/tools/css/reset/ */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
nav,
table, caption, tbody, tfoot, thead, tr, th, td,
input, label {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    color: #222;
    color: inherit;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
    font-family: Helvetica, Arial, sans-serif;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content: '';
    content: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/**************************
**                       **
**     project styles    **
**                       **
**************************/

body {
    color: #222;
    overflow-y: scroll;
    background-color: #eee;
    background-image: url('background.jpg');
    background-repeat: repeat;
    background-position: top center;
    text-shadow: none;
}
a {
    text-decoration: none;
    color: #34f;
}
a.active, a.active:hover,
a:hover {
    color: #800;
    text-decoration: underline;
}
a.active.imagelink, a.active.imagelink:hover,
a.imagelink:hover {
    text-decoration: none;
}
/* misc */
#container {
  width: 99%;
  margin: 0 auto;
}

/*****************************************
**                                      **
**         fiddly css3 properties       **
**                                      **
*****************************************/
.footer,
.text_content_wrapper, #topnav {
    background-color: #ddd;
    background-image: linear-gradient(left, #eee 0%, #ddd 15%, #ddd 85%, #eee 100%);
    border-radius: 10px;
}
/* typical inset rounding and shadowing */
#topnav,
.footer,
.text_content_wrapper {
  box-shadow: 0px 0px 8px #222;

  border-top-left-radius:     0px;
  border-top-right-radius:    0px;
  border-bottom-right-radius: 6px;
  border-bottom-left-radius:  6px;
}

/* elements on the page that need rounding/shadowing */
/* these don't
#clan_trophies,
#clan_header > div */ {
    border-radius: 5px;
}
/* slightly larger and darker rounding/shadowing, eg error messages...? */
#errors,
#messages {
    border-radius: 5px;
}
/* massive bigred rounding */
input[type=submit].bigred,
form#login_form > fieldset > input[type=submit],
.signup_text a {
    border-radius: 50px;
}

::selection { background:#aaa; color:#fff; text-shadow: none; }

/**************************
**                       **
**      title styles     **
**                       **
**************************/

.hcenter {
    clear: both;
    text-align: center;
}

/* The texts around the logo itself */
.logotitles:first-child {
  margin-top: 2.0em;
}
.logotitles {
  color: #000;
  margin: 0.5em 0em 0.5em 0em;
}

.logotitles h1 {
  font-size: 2.6em;
}
.logotitles h2 {
  font-size: 2em;
}
.logoimage img {
	max-width: 100%;
	height : auto;
}

/* The text below the logo on the front page. */
.title_text {
    margin: 1.5em;
    font-weight: bold;
    font-size: 1.2em;
    clear: both;
    text-align: center;
}

/**************************
**                       **
**     signup styles     **
**                       **
**************************/

/* space between title and rest of content */
/*  locate space here to avoid future margin collapse */
.content_bulk {
  /* not sure if position is needed for z-index, but ie would probably complain anyway */
    position: relative;
    z-index: 1;
    margin-top: 1em;
}

.signup_text {
    text-align: center;
    width: 170px;
    margin: 0 auto;
}
.signup_text p {
    height: 60px;
    line-height: 60px;
}
.signup_text a {
    font-size: 1.4em;
    display: block;
    text-decoration: none;
    color: #fff;
    background-color: #a00;
}
.signup_text a:hover,
.signup_text a.active,
.signup_text a.active:hover {
    color: #fff;
    background-color: #c22;
}

/**
 Messages and errors
 (those that come, e.g. when you fail to log in
 */

#errors
{
    margin: 5px;
    padding: 5px;
    background-color: #f55;
}
#messages
{
    margin: 5px;
    padding: 5px;
    background-color: #5ff;
}

/**************************
**                       **
**    body text styles   **
**                       **
**************************/

.text_content_wrapper {
    padding-top: 1px;
    padding-bottom: 30px;
}
.text_content {
    margin: 1ex 1ex 0 1ex;
    line-height: 1.5em;
}
.text_content p {
    margin-bottom: 10px;
}
.text_content h1 {
    font-size: 200%;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.text_content h2 {
    font-size: 150%;
    line-height: 1.5em;
    margin-bottom: 10px;
}
.text_content.non_top_post {
    margin-top: 3;
    margin-bottom: 3;
    display: block;
    border-style: inset;
    border-top: 1px solid #AAA;
}
.text_content.non_top_post:before {
    /*content: url(divider.png);
    width: 114px; */
    display: block;
    margin: 0 auto;
    /*margin-top: 10px; */
}

/**************************
**                       **
**      scoreboard       **
**                       **
**************************/

.greytable { /* replaces .scorelisting table and #accountlist */
    font-size: 85%;
    border-collapse: collapse;
    width: 100%; /* there's an inline style here.. */
    text-align: left;
    vertical-align: middle;
}

.greytable td a.hidden_link {
  color: inherit;
}

table.misc,
.greytable.misc {
    width: auto;
}
.greytable th {
    text-align: left;
    padding-right: 20px;
    padding-left: 8px;
}
.greytable td
{
    border-top: 1px solid #888;
    border-bottom: 1px solid #888;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
}
.greytable tr:nth-child(odd) td
{
    background-color: #ccc;
}
.greytable tr:nth-child(even) td
{
    background-color: #bbb;
}

.greytable td.table_number
{
    text-align: right;
    padding-right: 0.5em;
    padding-left: 0.5em;
}
.greytable td.table_date
{
    text-align: center;
    padding-right: 0;
    padding-left: 0;
}
.greytable td.variant,
.greytable td.table_date,
.greytable td.table_character {
    white-space: nowrap;
}

/* next two declarations are probably deprecated */
.greytable input[type="text"]
{
    width: 6em;
    margin: 3px 3px 3px 3px;
    padding: 0;
}
.greytable select
{
    font-size: 100%;
}

/**************************
**                       **
**      small forms      **
**                       **
**************************/

.smallform {
  margin-bottom: 10px;
}
.smallform label,
.smallform input,
.smallform select {
    margin-right: 10px;
    float:left;
}
.smallform input,
.smallform select,
.smallform label,
.smallform input[type=submit] {
  margin-top: 10px;
  height: 30px;
}
.smallform select {
  padding: 0;
}

.smallform input {
  padding: 5px 5px 5px 5px;
  height: 20px;
}

.smallform input[type=submit] {
  padding: 5px 10px;
  margin-left: 0;
}
/* cascading from label...maybe? or maybe i should make label into #login label and #register label */
.smallform label {
  margin-left: 0;
  width: auto;
  line-height: 30px;
  clear: none;
}


/**************************
**                       **
**      /home styles     **
**                       **
**************************/

.account-clan {
  margin-top: 10px;
}


/**************************
**                       **
**      form styles      **
**                       **
**************************/
/* add form#login_form (>) in front of each line and you're set */
fieldset {
    width: 400px;
    margin: 0 auto;
    /* to avoid margin collaspe with submit button below */
    padding-bottom: 1px;
}
/* not needed
fieldset > div {
    overflow: hidden;
}
*/
.form_msg,
input,
label {
    margin-top: 5px;
    margin-left: 10px;
    display: block;
    float: left;
    height: 20px;
    line-height: 20px;
}
label {
    width: 120px;
    clear: both;
    text-align: right;
}
input {
    padding: 1px;
    width: 120px;
    background-color: #fff;
    border: 1px inset #eee;
}
.form_msg {
    width: 120px;
    color: red;
    font-size: 85%;
}
input[type=submit] {
    padding: 5px 10px;
    height: auto;
    line-height: auto;
    width: auto;
    background-color: #bbb;
    border: 1px outset #eee;
}
/* use this class on a submit button if you would like it to be big and red. */
input[type=submit].bigred,
form#login_form > fieldset > input[type=submit] {
    padding: 0;
    height: 50px;
    width: 120px;
    float: none;
    margin: 0 auto;
    margin-top: 20px;
    border: 0;
    font-size: 1.4em;
    text-decoration: none;
    color: #fff;
    background-color: #a00;
}
input[type=submit].bigred:hover,
input[type=submit].bigred.active:hover,
input[type=submit].bigred.active:hover,
form#login_form > fieldset > input[type=submit]:hover,
form#login_form > fieldset > input[type=submit].active,
form#login_form > fieldset > input[type=submit].active:hover {
    cursor: pointer;
    color: #fff;
    background-color: #c22;
}

/**************************
**                       **
**     footer styles     **
**                       **
**************************/

#footer {
    font-size: 80%;
    line-height: 1.25em;
    text-align: center;
    margin: 1em 0;
}

/**************************
**                       **
**      tabular data     **
**    (currently only    **
**      table#clans      **
**   and table#servers)  **
**                       **
**************************/
.prettytable,
/* /clans */
#clans,
/* /servers */
#servers {
    width:100%;
    font-size: .9em;
}
table.prettytable th,
/* specificity override for padding */
#clan_page table.clan_members tr/*<--extraspecific*/ th,
table#clans th,
table#servers th {
    text-align: left;
    border-bottom: 4px double #aaa;
    padding: 8px;
}
.prettytable th,
.prettytable td,
#clans th,
#clans td,
#servers th,
#servers td {
    padding: 5px 8px;
}
.prettytable tr,
#clans tr,
#servers tr {
    border-bottom: 1px solid #ccc;
}

/* tables for competition score entries */
th.competition_value {
    width: 10em;
}
th.competition_placing {
    padding-left: 3px;
    padding-right: 3px;
    width: 3em;
}

/**************************
**                       **
**   clan page display   **
**                       **
**************************/

#clan_header {
    border-bottom: 1px solid #ccc;
    margin-bottom: 20px;
}

#clan_header > div,
#clan_header > h1 {
    margin-bottom: 0;
    height: 50px;
    line-height: 50px;
}

#clan_header > h1 {
    line-height: 50px;
    width: auto;
    text-align: center;
    float: left;
}
/* the group of right hand things */
#clan_header > div {
    border-left: 1px solid #ccc;
    float: right;
    padding: 0 20px;
    text-align: center;
}
/* links only - no spans here please */
#clan_header > div a {
    display: block;
}
#clan_header > div a:hover {
    background-color: #dadada;
    text-decoration: none;
}
/**************************
**                       **
** Display trophy images **
** (everywhere, not just **
**    on trophy page)    **
**                       **
**************************/

/*
structure for a trophy cabinet:

.trophy_cabinet
  h3
  ul
    li
      .trophyleft
      .trophyright
- all a's to have .imagelink
- all img's to have no inline styles
*/
.trophycabinet {
    padding-top: 1px;/* for margin collapse */
    margin-bottom: 30px;
}

ul.trophypage > li > img,
.trophycabinet img {
    height: 2em;
    width: 2em;
}
ul.trophypage.indented > li {
    list-style: none;
    padding-left: 0.8em;
}

/* exception for clan page trophies */
#clan_trophies .trophyicon {
    margin-left: 5px;
    margin-top: 5px;
    background: #eee;
    display: inline-block;
    width: 50px;
    height: 50px;
}


/* vertically align text and images */
.trophycabinet .trophyleft {
    vertical-align: top;
}
.trophycabinet .trophyright {
    width: 90%;
}
/* exception for /user/name..bleh */
/* text cabinet, as in the text is the fixed info and the images are expandable */
.text_cabinet.trophycabinet .trophyleft {
    width: 20%;
}
.text_cabinet.trophycabinet .trophyright {
  /* quick fix for i dunno what's happening with that a height */
    margin-bottom: 0px;
    width: 75%;
}
.trophycabinet .trophyleft,
.trophycabinet .trophyright {
    display: inline-block;
    vertical-align: top;
}
/* finer-grained display styles */
.trophycabinet .trophyright, .trophycabinet .trophyleft {
    margin: 5px 0px 5px 0px;
}
.trophycabinet h2,
.trophycabinet h3 {
    line-height: 2.5em;
}
.trophycabinet h2,
.trophycabinet h3 {
    margin-bottom: 0;
    border-bottom: 3px double #bbb;
}
.trophycabinet .endofcabinetrow,
.trophycabinet > ul li {
    border-bottom: 1px solid #ccc;
}

.trophycabinet .min-max-trophies {
  margin-left: 0.25em;
  font-size: 0.5em;
  color: #888;
  line-height: inherit;
}
.trophycabinet .min-max-trophies:hover {
  color: #444;
  transform: scale(1.1);
}

/* collapsed trophy page */
ul.collapsed li {
  display: inline-block;
}
ul.collapsed .trophyright {
  display: none;
}
ul.collapsed img.trophyleft {
  margin-left: 0px;
}

/**************************
**                       **
**      trophy page      **
** (partially obsolete   **
**     - please use      **
** .trophy_cabinet where **
**        possible)      **
**                       **
**************************/

/* give dots to trophy lists */
ul.trophypage {
    list-style: disc;
}
ul.trophypage > li {
    margin-top: 5px;
}
/* vertically align text and images */
li.multiline > img {
    vertical-align: middle;
}
li.multiline > span {
    display: inline-block;
    vertical-align: middle;
    width: 500px;
}

/**************************
**                       **
**     helper styles     **
**                       **
**************************/

.clear {
    display: block;
    clear: both;
}
#end_of_content_spacer {
    height: 30px;
}
#small_content_spacer {
    height: 15px;
}
#tiny_content_spacer {
    height: 5px;
}
.center {
    text-align: center;
}
.flat {
    height: 0;
}

.small_print {
    font-size: 0.9em;
}

/* styling trophy tables with text */
th.trophy,
.trophies td.trophy {
  padding: 0;
  width: 1px;
}
.trophies td.trophy {
  border: 1px solid #888;
}
th.trophy img,
.trophies td.trophy img {
  vertical-align: middle;
  width:  2em;
  height: 2em;
}
th.trophy img {
  vertical-align: bottom;
  margin-bottom: 3px;
  width:  2em;
  height: 2em;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a,
.trophyleft a {
  color: inherit;
}
h1:hover a, h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a,
.trophyleft a:hover {
  color: #888;
}

/* rotate table header */
table.greytable tr.rotated {
  height: 10em;
  white-space: nowrap;
}

tr.rotated th div {
  transform: translate(0.6em, 8em) rotate(270deg);
  width: 0em;
}
