/*
* Skeleton V1.2
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 6/20/2012
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

.container {
  margin-top: 20px;
}

a.logo {
  display:block;
  width: 120px;
  height: 46px;
  background-image: url("../img/logo_sprite.png");
  background-position: center -5px;
  background-repeat: no-repeat;
}

a.logo:hover {
  background-position: center -56px;
}

a.logo img {
  display:none;
}

div.logo {
  position: relative;
  width: 100%;
  margin-bottom: 20px;
}
div.logo img, div.logo h1 {
  display: block;
  margin: 0 auto;
  text-align: center;
}
div.logo h1 {
  position: relative;
  top: -15px;
}


nav ul ul {
  display:none;
}

nav {
  width: 100%;
  font-family: 'PT Sans', Arial, sans-serif;
  position: relative;
  z-index: 1;
}
nav ul {
  padding: 0;
  margin-left: 10px;
  width: 600px;
}

nav li {
  position:relative;/* for the nested menu */
  display: inline;
  float: left;
}

nav a {
  text-decoration: none;
  color: #555;
  display: inline-block;
  width: 120px;
  text-align: center;
  line-height: 40px;
  text-shadow: 0px 2px 0px rgba(255, 255, 255, 1);
}

nav li a {
  border-right: 1px solid #eee;
  box-sizing:border-box;
  -moz-box-sizing:border-box;
  -webkit-box-sizing:border-box;
}
nav li:last-child a {
  border-right: 0;
}


nav a:hover, nav a:active {
  background-color: #eaeaea;
}

nav a#navpull {
  display: none;
}

/* nested menu */
nav ul ul {
  margin-left: 0;
  background: #f5f5f5;
  width: 160px;
  height: auto;
}

/*nested menu */
nav li li {
  float: none;
  display: block;
}

/* nested menu */
nav li li a {
  display: block;
  width: auto;
  text-indent: 10px;
  text-align: left;
  border-right: 0;
  line-height: 35px;
  width: auto;
  border-top: 1px solid #e8e8e8;
}
nav li li:first-child a {
  border-top: 0;
}


/*nested menu */
nav ul li:hover ul {
  position: absolute;
  top: 40px; left: 0;
  display:block;
}

/*nested menu */
nav li li a:hover, nav li li a:active {
}

#page_content {
  clear: both;
}

footer h3,
footer h4,
footer {
  color: #444;
}
footer {
  margin-top: 40px;
  background-color: #eee;
}

h3 {
  line-height: 250%;
}

footer h4 {
  line-height: 200%;
}





/* #Page Styles
================================================== */

#page_content h3 {
  border-top: 1px solid #eee;
}


/* #Media Queries
================================================== */

	/* Smaller than standard 960 (devices and browsers) */
	@media only screen and (max-width: 959px) {}

	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {}

	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
    nav {
      height: auto;
    }

    nav ul {
      width: 100%;
      display: block;
      height: auto;
    }

    nav li {
      width: 50%;
      float: left;
      position: relative;
    }

    nav li a {
      border-bottom: 1px solid #eee;
      border-right: 1px solid #eee;
    }

    nav a {
      text-align: left;
      width: 100%;
      text-indent: 25px;
    }
  }

	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {}

	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
    nav {
    }
    nav ul {
      display: none;
      height: auto;
    }
    nav a#navpull {
      display: block;
      width: 100%;
      position: relative;
    }
    nav a#navpull:after {
      content:"";
      background: url("../img/nav.png") no-repeat;
      width: 30px;
      height: 30px;
      display: inline-block;
      position: absolute;
      right: 15px;
      top: 10px;
    }

  }


/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
